#header {
    /*height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    width: 100%;
    height: 199px;
    justify-content: space-between;
    flex-direction: row;
    background: #fdfdfd;
    align-items: center;
    display: flex;
    width: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 114px;
    gap: 540px;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    height: 199px;
    left: 0%;
    right: 0%;
    top: 0px;
  }

#fixHead{
  height: 199px;
  background-color: #fafafa;
  padding: 40px 114px;
}

body, html {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

#divBusca{
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border: solid 1px;
  border-color: #f3f3f3;
  border-radius: 8px;
  height: 61px;
  width: 450px;
  left: 876px;
  top: 69px;
  padding: 8px, 16px, 8px, 16px;
  align-items: center;
  justify-content: space-between;
  
}

input::placeholder{
  color: #b8b8b8;
}

#btnBusca{
  height: 20px;
  width: 20px;
  left: 16px;
  top: 20.5px;
  border-radius: 0px;
  margin-left: 2%;
}

#txtBusca{
  height: 24px;
  width: 398px;
  left: 52px;
  top: 18.5px;
  background-color:transparent;
  font-size:18px;
  color: #b8b8b8;
  border:none;
}

#txtBusca.placeholder{
  color: #b8b8b8;
}

#header.header-transparent {
    /*background: none;*/
}
  /* Vector */

.conteudo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fafafa;
    align-items: flex-start;
    justify-content: center;
}

.valor{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  width: 105px;
  height: 45px;

  background: rgba(249, 199, 191, 0.5);
  border-radius: 8px;

}

.price{
  width: 89px;
  height: 29px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  color: #000000;
}

.card{
  background-color: #ffffff;
  margin: 1%;
  height: 512px;
  width: 270px;
  left: 114px;
  top: 279px;
  border-radius: 16px;
  padding: 24px;

}

.card2{
  background-color: #ffffff;
  height: 200px;
  width: 200px;
  left: 464px;
  top: 279px;
  border-radius: 16px;
  padding: 24px;

}

.fotoA{
  height: 250px;
  width: 250px;
  left: 24px;
  top: 24px;
  border-radius: 0px;

}

.fotoB{
  height: 180px;
  width: 180px;
  left: 24px;
  top: 24px;
  border-radius: 0px;

}

.texto{
  max-width: 270px;
}

.footer {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 292px;
  padding-left: 114px;
  background-color: #f2f2f2;
  height: 155.02px;
  left: 0%;
  right: 0%;
  bottom: 0px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 114px;
  padding-right: 114px;
  height: 155.02px;
  width: 100%;
  left: 0%;
  right: 0%;
  bottom: 0px;
  background-color: #f2f2f2;
}

.coluna1{
  display: flex;
  margin: 1%;
  flex-direction: column;
  justify-content: space-between;
  height: 560px;
  width: 270px;
}

.describe{
  width: 270px;
  height: 40px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #606060;
}

.titulo{
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.made{
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: left;

}

#textinho{
  width: 253px; 
  height: 17px;
}

@media (max-width: 400px){
  #header {
    height: 129.4166717529297px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    justify-content: space-between;
    position: fixed;
    background: rgba(255, 255, 255, 0.6);
    align-items: center;
  }

  #lgmar{
    width: 70px;
    height: 69.42px;
  }

  #fixHead{
    height: 129.4166717529297px;
    width: 100%;
    background-color: #fafafa;
  }

  body, html {
      background-color: #fafafa;
      display: flex;
      flex-direction: column;
  }

  #divBusca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5.34973px 10.6995px;
    
    width: 40px;
    height: 40px;
    left: 0px; 
    top: 0px;
    background: #FFFFFF;
    border: 0.334358px solid rgba(96, 96, 96, 0.3);
    border-radius: 8px;
    
  }

  input::placeholder{
    color: #b8b8b8;
  }

  #btnBusca{
    height: 20px;
    width: 20px;
  }

  #txtBusca{
    height: 20px;
    width: 20px;
    left: 52px;
    top: 18.5px;
    background-color:transparent;
    font-size:18px;
    color: #b8b8b8;
    border:none;
  }

  #txtBusca.placeholder{
    color: #b8b8b8;
  }

  #header.header-transparent {
      /*background: none;*/
  }
    /* Vector */

  .conteudo{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      background-color: #fafafa;
      align-items: flex-start;
      justify-content: center;
  }

  .valor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4.42034px;
    gap: 5.53px;

    width: 57.84px;
    height: 24.84px;

    background: rgba(249, 199, 191, 0.5);
    border-radius: 4.42034px;

  }

  .price{
    width: 49px;
    height: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 13.261px;
    line-height: 16px;

    color: #000000;

  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13.261px;
    gap: 17.13px;

    
    width: 175.71px;
    height: 283px;
    left: 32px;
    top: 170px;

    background: #FFFFFF;
    box-shadow: 0px 2.21017px 8.84068px rgba(0, 0, 0, 0.04);
    border-radius: 8.84068px;


  }

  .card2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13.261px;
    gap: 17.13px;

    width: 132.61px;
    height: 132.66px;
    left: 225.39px;
    top: 170px;

  }

  .fotoA{
    width: 149.19px;
    height: 149.19px;

  }

  .fotoB{
    width: 106.09px;
    height: 106.09px;

  }

  .texto{
    
  }

  .footer {
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 292px;
    padding-left: 114px;
    background-color: #f2f2f2;
    height: 155.02px;
    left: 0%;
    right: 0%;
    bottom: 0px;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 114px;
    padding-right: 114px;
    height: 155.02px;
    width: 100%;
    left: 0%;
    right: 0%;
    bottom: 0px;
    background-color: #f2f2f2;
  }

  .coluna1{
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 310px;
  }

  .describe{
    width: 149.19px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 8.84068px;
    line-height: 11px;

    color: #606060;
  }

  .titulo{
    width: 149.19px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17.6814px;
    line-height: 22px;
    /* identical to box height */


    color: #292929;
  }

  .made{
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;

  }

  #textinho{
    width: 253px; 
    height: 17px;
  }
}